{% load staticfiles %}
<!-- start banner Area -->
<section class="banner-area relative" id="home">	
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-center">
                <div class="banner-content col-lg-9 col-md-12">
                    <h6>Now you can watch the Talent</h6>
                    <h1 class="text-white">
                        Year End Conference				
                    </h1>
                    <div class="countdown">
                        <div id="timer" class="text-white"></div>
                    </div>
                    <h4><span class="lnr lnr-calendar-full"></span>  05th - 09th february, 2018</h4>
                    <h4><span class="lnr lnr-map"></span>  56/8, Dhanmondi, Dhaka - 1205</h4>
                </div>											
            </div>
        </div>
    </section>
    <!-- End banner Area -->