{% load staticfiles %}
<!-- Start schedule Area -->
<section class="schedule-area pb-100" id="schedule">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">How Our Customers Treat Us</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>						
        <div class="row">
            <div class="table-wrap col-lg-12">
                <table class="schdule-table table table-bordered">
                        <thead class="thead-light">
                        <tr>
                            <th class="head" scope="col">sl</th>
                            <th class="head" scope="col">session</th>
                            <th class="head" scope="col">speaker</th>
                            <th class="head" scope="col">venue</th>
                            <th class="head" scope="col">time</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th class="name" scope="row">01</th>
                            <td>Reception & Taling Seats</td>				      
                            <td>Isabelle Cooper</td>				      
                            <td>3rd Hall Room</td>				      
                            <td>02.00</td>					      
                        </tr>
                        <tr>
                            <th class="name" scope="row">02</th>
                            <td>Breakfast and rest</td>				      
                            <td>N/A</td>				      
                            <td>4th Hall Room</td>				      
                            <td>02.00</td>						      
                        </tr>
                        <tr>
                            <th class="name" scope="row">03</th>
                            <td>Reception & Taling Seats</td>				      
                            <td>Jane Daniel</td>				      
                            <td>2nd Hall Room</td>				      
                            <td>02.00</td>						      
                        </tr>
                        <tr>
                            <th class="name" scope="row">04</th>
                            <td>Next generation speech</td>				      
                            <td>Billy Barton</td>				      
                            <td>1st Hall Room</td>				      
                            <td>02.00</td>						      
                        </tr>
                        <tr>
                            <th class="name" scope="row">05</th>
                            <td>Sppech for young people</td>				      
                            <td>Flora Gonzales</td>				      
                            <td>4rd Hall Room</td>				      
                            <td>02.00</td>					      
                        </tr>
                        <tr>
                            <th class="name" scope="row">06</th>
                            <td>Lunch Break</td>				      
                            <td>N/A</td>				      
                            <td>3rd Hall Room</td>				      
                            <td>02.00</td>					      
                        </tr>
                        <tr>
                            <th class="name" scope="row">07</th>
                            <td>Sppech for Middle aged people</td>				 
                            <td>Francisco Barrett</td>				      
                            <td>1st Hall Room</td>				      
                            <td>02.00</td>					      
                        </tr>											    
                        </tbody>
                </table>							
            </div>
        </div>
    </div>	
</section>
<!-- End schedule Area -->	