<div class="single-speaker item">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 speaker-img no-padding">
                <img src="img/s1.jpg" alt="">
            </div>
            <div class="col-md-6 speaker-info no-padding">
                <h6 class="text-uppercase">speaker 01</h6>
                <h1 class="text-white">{{ name }}</h1>
                <p>
                    {{ description }}
                </p>
                <p><span class="lnr lnr-location"></span>{{ contact }}</p>
                <ul>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </ul>
            </div>
        </div>
    </div>
</div>
