{% load staticfiles %}
<!-- Start speakers Area -->
<section class="spekers-area pb-100" id="speakers">
    <div class="container-fluid">
        <div class="row no-padding">
            <div class="active-speaker-carusel col-lg-12 no-padding">
                {% comment %} This is an example speaker {% endcomment %}
                {% include "main/partials/speaker-template.html" with
                    name="Speaker Person"
                    contact="speaker.person@email.com"
                    description="This is the description for a speaker. We should actually get some of those"
                %}
            </div>
        </div>
    </div>
</section>
<!-- End speakers Area -->
