{% load staticfiles %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>{%block title %}{% endblock%}</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
        <!--
        CSS
        ============================================= -->
        <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">					
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>

          <header id="header" id="home">
            <div class="container">
                <div class="row align-items-center justify-content-between d-flex">
                  <div id="logo">
                    <a href="index.html"><img src="{% static 'img/logo.png' %}" alt="" title="" /></a>
                  </div>
                  <nav id="nav-menu-container">
                    <ul class="nav-menu">
                      <li class="menu-active"><a href="#home">Home</a></li>
                      <li><a href="#videos">Videos</a></li>
                      <li><a href="#speakers">Speakers</a></li>
                      <li><a href="#schedule">Schedule</a></li>
                      <li class="menu-has-children"><a href="">Pages</a>
                        <ul>
                          <li><a href="generic.html">Generic</a></li>
                          <li><a href="elements.html">Elements</a></li>
                        </ul>
                      </li>
                      <li><a class="ticker-btn" href="#">Buy Ticket</a></li>
                    </ul>
                  </nav><!-- #nav-menu-container -->		    		
                </div>
            </div>
          </header><!-- #header -->


        <!-- start banner Area -->
        <section class="banner-area relative" id="home">	
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row fullscreen d-flex align-items-center justify-content-center">
                    <div class="banner-content col-lg-9 col-md-12">
                        <h6>Now you can watch the Talent</h6>
                        <h1 class="text-white">
                            Year End Conference				
                        </h1>
                        <div class="countdown">
                            <div id="timer" class="text-white"></div>
                        </div>
                        <h4><span class="lnr lnr-calendar-full"></span>  05th - 09th february, 2018</h4>
                        <h4><span class="lnr lnr-map"></span>  56/8, Dhanmondi, Dhaka - 1205</h4>
                    </div>											
                </div>
            </div>
        </section>
        <!-- End banner Area -->				

        <!-- Start home-video Area -->
        <section class="home-video-area">
            <div class="container-fluid">
                <div class="row justify-content-end align-items-center">
                    <div class="col-lg-4 no-padding about-right">
                        <p class="top-title">Tutorial for beginner</p>
                        <h1>We Telecast our <br>
                        Coffee Making Live</h1>
                        <p><span>We are here to listen from you deliver exellence</span></p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim.
                        </p>
                    </div>
                    <section class="video-area col-lg-6 no-padding">
                        <div class="overlay overlay-bg"></div>
                        <div class="containers">
                            <div class="video-content">
                                <img class="img-fluid" src="{% static 'img/about1.jpg' %}" alt="">
                            </div>
                        </div>
                    </section>											
                </div>
            </div>	
        </section>
        <!-- End home-aboutus Area -->


        <!-- Start home-aboutus Area -->
        <section class="home-aboutus-area">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-8 no-padding about-left">
                        <img class="img-fluid" src="img/about2.jpg" alt="">
                    </div>
                    <div class="col-lg-4 no-padding about-right">
                        <p class="top-title">24/7 Support system</p>
                        <h1 class="text-white">We Telecast our<br>
                        Coffee Making Live</h1>
                        <p><span>We are here to listen from you deliver exellence</span></p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim.
                        </p>
                    </div>
                </div>
            </div>	
        </section>
        <!-- End home-aboutus Area -->

        <!-- Start video-sec Area -->
        <section class="video-sec-area section-gap" id="videos">
            <div class="container">
                <div class="row justify-content-center align-items-center ">
                    <div class="col-lg-6 video-left">
                        <h6>Brand new app to blow your mind</h6>
                        <h1>We’ve made a life <br>
                        that will change you</h1>
                        <p><span>We are here to listen from you deliver exellence</span></p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                        </p>
                        <a class="primary-btn" href="#">Get Started now</a>
                    </div>
                    <div class="col-lg-6">
                        <div class="active-video-carusel">
                                <div class="item video-right justify-content-center align-items-center d-flex" style="background:url(img/video-bg.jpg) no-repeat center;background-size: cover;">
                                <div class="overlay overlay-bg"></div>
                                <a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid" src="img/play-icon.png" alt=""></a>
                                </div>
                                <div class="item video-right justify-content-center align-items-center d-flex" style="background:url(img/video-bg.jpg) no-repeat center;background-size: cover;">
                                <div class="overlay overlay-bg"></div>
                                <a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid" src="img/play-icon.png" alt=""></a>
                                </div>	
                                <div class="item video-right justify-content-center align-items-center d-flex" style="background:url(img/video-bg.jpg) no-repeat center;background-size: cover;">
                                <div class="overlay overlay-bg"></div>
                                <a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid" src="img/play-icon.png" alt=""></a>
                                </div>																		
                        </div>							
                    </div> 
                </div>
            </div>	
        </section>
        <!-- End video-sec Area -->


        <!-- Start spekers Area -->
        <section class="spekers-area pb-100" id="speakers">
            <div class="container-fluid">
                <div class="row no-padding">
                    <div class="active-speaker-carusel col-lg-12 no-padding">
                        <div class="single-speaker item">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-md-6 speaker-img no-padding">
                                        <img src="img/s1.jpg" alt="">
                                    </div>
                                    <div class="col-md-6 speaker-info no-padding">
                                        <h6 class="text-uppercase">speaker 01</h6>
                                        <h1 class="text-white">Essie Ballard</h1>
                                        <p>
                                            Computer users and programmers have become so accustomed to using Windows, even for the changing capabilities and the appearances.
                                        </p>
                                        <p><span class="lnr lnr-phone-handset"></span>+880 (012) 8954 253</p>
                                        <p><span class="lnr lnr-location"></span>iamspeaker@gmail.com</p>
                                        <ul>
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-dribbble"></i></a>
                                            <a href="#"><i class="fa fa-behance"></i></a>
                                        </ul>
                                    </div>
                                </div>
                            </div>								
                        </div>
                        <div class="single-speaker item">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-md-6 speaker-img no-padding">
                                        <img src="img/s2.jpg" alt="">
                                    </div>
                                    <div class="col-md-6 speaker-info no-padding">
                                        <h6 class="text-uppercase">speaker 02</h6>
                                        <h1 class="text-white">Elizabeth Stokes</h1>
                                        <p>
                                            Computer users and programmers have become so accustomed to using Windows, even for the changing capabilities and the appearances.
                                        </p>
                                        <p><span class="lnr lnr-phone-handset"></span>+880 (012) 8954 253</p>
                                        <p><span class="lnr lnr-location"></span>iamspeaker@gmail.com</p>
                                        <ul>
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-dribbble"></i></a>
                                            <a href="#"><i class="fa fa-behance"></i></a>
                                        </ul>
                                    </div>
                                </div>
                            </div>								
                        </div>	
                        <div class="single-speaker item">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-md-6 speaker-img no-padding">
                                        <img src="img/s1.jpg" alt="">
                                    </div>
                                    <div class="col-md-6 speaker-info no-padding">
                                        <h6 class="text-uppercase">speaker 01</h6>
                                        <h1 class="text-white">Essie Ballard</h1>
                                        <p>
                                            Computer users and programmers have become so accustomed to using Windows, even for the changing capabilities and the appearances.
                                        </p>
                                        <p><span class="lnr lnr-phone-handset"></span>+880 (012) 8954 253</p>
                                        <p><span class="lnr lnr-location"></span>iamspeaker@gmail.com</p>
                                        <ul>
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-dribbble"></i></a>
                                            <a href="#"><i class="fa fa-behance"></i></a>
                                        </ul>
                                    </div>
                                </div>
                            </div>								
                        </div>	
                        <div class="single-speaker item">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-md-6 speaker-img no-padding">
                                        <img src="img/s2.jpg" alt="">
                                    </div>
                                    <div class="col-md-6 speaker-info no-padding">
                                        <h6 class="text-uppercase">speaker 02</h6>
                                        <h1 class="text-white">Elizabeth Stokes</h1>
                                        <p>
                                            Computer users and programmers have become so accustomed to using Windows, even for the changing capabilities and the appearances.
                                        </p>
                                        <p><span class="lnr lnr-phone-handset"></span>+880 (012) 8954 253</p>
                                        <p><span class="lnr lnr-location"></span>iamspeaker@gmail.com</p>
                                        <ul>
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-dribbble"></i></a>
                                            <a href="#"><i class="fa fa-behance"></i></a>
                                        </ul>
                                    </div>
                                </div>
                            </div>								
                        </div>																					
                    </div>
                </div>
            </div>	
        </section>
        <!-- End spekers Area -->
        

        <!-- Start schedule Area -->
        <section class="schedule-area pb-100" id="schedule">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-70 col-lg-8">
                        <div class="title text-center">
                            <h1 class="mb-10">How Our Customers Treat Us</h1>
                            <p>Who are in extremely love with eco friendly system.</p>
                        </div>
                    </div>
                </div>						
                <div class="row">
                    <div class="table-wrap col-lg-12">
                        <table class="schdule-table table table-bordered">
                              <thead class="thead-light">
                                <tr>
                                  <th class="head" scope="col">sl</th>
                                  <th class="head" scope="col">session</th>
                                  <th class="head" scope="col">speaker</th>
                                  <th class="head" scope="col">vanue</th>
                                  <th class="head" scope="col">time</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th class="name" scope="row">01</th>
                                  <td>Reception & Taling Seats</td>				      
                                  <td>Isabelle Cooper</td>				      
                                  <td>3rd Hall Room</td>				      
                                  <td>02.00</td>					      
                                </tr>
                                <tr>
                                  <th class="name" scope="row">02</th>
                                  <td>Breakfast and rest</td>				      
                                  <td>N/A</td>				      
                                  <td>4th Hall Room</td>				      
                                  <td>02.00</td>						      
                                </tr>
                                <tr>
                                  <th class="name" scope="row">03</th>
                                  <td>Reception & Taling Seats</td>				      
                                  <td>Jane Daniel</td>				      
                                  <td>2nd Hall Room</td>				      
                                  <td>02.00</td>						      
                                </tr>
                                <tr>
                                  <th class="name" scope="row">04</th>
                                  <td>Next generation speech</td>				      
                                  <td>Billy Barton</td>				      
                                  <td>1st Hall Room</td>				      
                                  <td>02.00</td>						      
                                </tr>
                                <tr>
                                  <th class="name" scope="row">05</th>
                                  <td>Sppech for young people</td>				      
                                  <td>Flora Gonzales</td>				      
                                  <td>4rd Hall Room</td>				      
                                  <td>02.00</td>					      
                                </tr>
                                <tr>
                                  <th class="name" scope="row">06</th>
                                  <td>Lunch Break</td>				      
                                  <td>N/A</td>				      
                                  <td>3rd Hall Room</td>				      
                                  <td>02.00</td>					      
                                </tr>
                                <tr>
                                  <th class="name" scope="row">07</th>
                                  <td>Sppech for Middle aged people</td>				 
                                  <td>Francisco Barrett</td>				      
                                  <td>1st Hall Room</td>				      
                                  <td>02.00</td>					      
                                </tr>											    
                              </tbody>
                        </table>							
                    </div>
                </div>
            </div>	
        </section>
        <!-- End schedule Area -->		

        <!-- Start price Area -->
        <section class="price-area section-gap">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-70 col-lg-8">
                        <div class="title text-center">
                            <h1 class="mb-10">How Our Customers Treat Us</h1>
                            <p>Who are in extremely love with eco friendly system.</p>
                        </div>
                    </div>
                </div>					
                <div class="row">
                    <div class="col-lg-3 col-md-6 single-price">
                        <div class="top-part">
                            <h1 class="package-no">01</h1>
                            <h4>Economy</h4>
                            <p>For the individuals</p>
                        </div>
                        <div class="package-list">
                            <ul>
                                <li>Secure Online Transfer</li>
                                <li>Unlimited Styles for interface</li>
                                <li>Reliable Customer Service</li>
                            </ul>
                        </div>
                        <div class="bottom-part">
                            <h1>£199.00</h1>
                            <a class="price-btn text-uppercase" href="#">Buy Now</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 single-price">
                        <div class="top-part">
                            <h1 class="package-no">02</h1>
                            <h4>Business</h4>
                            <p>For the individuals</p>
                        </div>
                        <div class="package-list">
                            <ul>
                                <li>Secure Online Transfer</li>
                                <li>Unlimited Styles for interface</li>
                                <li>Reliable Customer Service</li>
                            </ul>
                        </div>
                        <div class="bottom-part">
                            <h1>£199.00</h1>
                            <a class="price-btn text-uppercase" href="#">Buy Now</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 single-price">
                        <div class="top-part">
                            <h1 class="package-no">03</h1>
                            <h4>Premium</h4>
                            <p>For the individuals</p>
                        </div>
                        <div class="package-list">
                            <ul>
                                <li>Secure Online Transfer</li>
                                <li>Unlimited Styles for interface</li>
                                <li>Reliable Customer Service</li>
                            </ul>
                        </div>
                        <div class="bottom-part">
                            <h1>£199.00</h1>
                            <a class="price-btn text-uppercase" href="#">Buy Now</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 single-price">
                        <div class="top-part">
                            <h1 class="package-no">04</h1>
                            <h4>Exclusive</h4>
                            <p>For the individuals</p>
                        </div>
                        <div class="package-list">
                            <ul>
                                <li>Secure Online Transfer</li>
                                <li>Unlimited Styles for interface</li>
                                <li>Reliable Customer Service</li>
                            </ul>
                        </div>
                        <div class="bottom-part">
                            <h1>£199.00</h1>
                            <a class="price-btn text-uppercase" href="#">Buy Now</a>
                        </div>
                    </div>																		
                </div>
            </div>	
        </section>
        <!-- End price Area -->
                
        <!-- Start brand Area -->
        <section class="brand-area section-gap">
            <div class="container">
                <div class="row logo-wrap">
                    <a class="col single-img" href="#">
                        <img class="d-block mx-auto" src="img/l1.png" alt="">
                    </a>
                    <a class="col single-img" href="#">
                        <img class="d-block mx-auto" src="img/l2.png" alt="">
                    </a>
                    <a class="col single-img" href="#">
                        <img class="d-block mx-auto" src="img/l3.png" alt="">
                    </a>
                    <a class="col single-img" href="#">
                        <img class="d-block mx-auto" src="img/l4.png" alt="">
                    </a>
                    <a class="col single-img" href="#">
                        <img class="d-block mx-auto" src="img/l5.png" alt="">
                    </a>
                </div>	
            </div>	
        </section>
        <!-- End brand Area -->	
                        
            
        <!-- Start callaction Area -->
        <section class="callaction-area relative section-gap">
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <h1 class="text-white">Huge Transaction in last Week</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                        </p>
                        <a class="callaction-btn" href="#">Become a Member</a>							
                    </div>
                </div>
            </div>	
        </section>
        <!-- End callaction Area -->
                

        <!-- start footer Area -->		
        <footer class="footer-area section-gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6>About Us</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
                            </p>
                            <p class="footer-text">
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart3" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            </p>								
                        </div>
                    </div>
                    <div class="col-lg-5  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6>Newsletter</h6>
                            <p>Stay update with our latest</p>
                            <div class="" id="mc_embed_signup">
                                <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
                                    <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
                                        <button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                                        <div style="position: absolute; left: -5000px;">
                                            <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                        </div>

                                    <div class="info"></div>
                                </form>
                            </div>
                        </div>
                    </div>						
                    <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
                        <div class="single-footer-widget">
                            <h6>Follow Us</h6>
                            <p>Let us be social</p>
                            <div class="footer-social d-flex align-items-center">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>
                            </div>
                        </div>
                    </div>							
                </div>
            </div>
        </footer>	
        <!-- End footer Area -->	

        <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>			
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
          <script src="{% static 'js/easing.min.js' %}"></script>			
        <script src="{% static 'js/hoverIntent.js' %}"></script>
        <script src="{% static 'js/superfish.min.js' %}"></script>	
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>	
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>			
        <script src="{% static 'js/jquery.sticky.js' %}"></script>
        <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>			
        <script src="{% static 'js/parallax.min.js' %}"></script>		
        <script src="{% static 'js/mail-script.js' %}"></script>	
        <script src="{% static 'js/main.js' %}"></script>	
    </body>
</html>



